<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
  <p>{{ site.description }}</p> 
  </div>

  <nav class="sidebar-nav">
      <!-- 
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      -->
      <!-- 20190714 -->
      
      <div class="dropbtn">
      <!--
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
      </script>
      -->    
          <a id="BtnBasic" class="sidebar-nav-item">Basic</a>
      <div id="DropdownBasic" class="dropdown-content">
          <li><a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a></li>
          <li><a class="sidebar-nav-item" href="/MattBlog/about.html">About</a></li>
          <li><a class="sidebar-nav-item" href="/MattBlog/tag/DiaryRecord">Diary</a></li>
      </div>          
      </div>
      <script>
          $(document).ready(function () {
              $("#BtnBasic").click(function (e) { 
                  e.preventDefault();
                  $("#DropdownBasic").slideToggle();
              });
          });
          /**document.getElementById("BtnBasic").onclick = function(){document.getElementById("DropdownBasic").classList.toggle("show")};**/
          
          /**
          function myFucntion(){
              document.getElementById("DropdownBasic").classList.toggle("show");
          }**/
      </script>

      <!-- High Energy Particle -->
      <div class="dropbtn">
          <a id="BtnHGCAL" class="sidebar-nav-item">High Particle Diary</a>
          <div id="DropdownHGCAL" class="dropdown-content">
              <li><a class="sidebar-nav-item" href="/MattBlog/tag/HGCAL">HGCAL</a>
          </div>
      </div>
    
    <script>
        $(document).ready(function () {
            $("#BtnHGCAL").click(function (e) { 
                e.preventDefault();
                $("#DropdownHGCAL").slideToggle();
            });
        });
        /**$(function(){
            $("#BtnHGCAL").click(function(){
                $("#aaatest").slideToggle(0);
            });
        });**/
        /**document.getElementById("BtnHGCAL").onclick = function(){
            document.getElementById("DropdownHGCAL").classList.toggle("show")};**/
        /**function myFunctionHGCAL(){
            document.getElementById("DropdownHGCAL").classList.toggle("show");
        function myFunction(){
            document.getElementById("DropdownHGCAL").classList.toggle("show",true);
        }**/
    </script>
    
    <!--
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
        <li><a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/MattBlog{{ node.url }}">{{ node.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    -->
    
    <!-- Front End -->
    <div class="dropbtn">
        <a id="BtnFrontEnd" class="sidebar-nav-item">Front-End Diary</a>
        <div id="DropdownFrontEnd" class="dropdown-content">
            <li><a class="sidebar-nav-item" href="/MattBlog/tag/jekyll">jekyll build tag</a></li>
            <li><a class="sidebar-nav-item" href="/MattBlog/tag/CSSRecord">CSS/JS Record build tag</a></li>
        </div>
    </div>
    
    <script>
        $(document).ready(function () {
            $("#BtnFrontEnd").click(function (e) { 
                e.preventDefault();
                $("#DropdownFrontEnd").slideToggle();
            });
        });
        /**
        document.getElementById("BtnFrontEnd").onclick = function(){
            document.getElementById("DropdownFrontEnd").classList.toggle("show")};**/
        
        /**
        function myFunctionFrontEnd(){ 
            document.getElementById("DropdownFrontEnd").classList.toggle("show");
        }**/
    </script>

    <!-- Ruby on Rails -->
    <div class="dropbtn">
        <a id="BtnRoR" class="sidebar-nav-item">Ruby on Rails Diary</a>
        <div id="DropdownRoR" class="dropdown-content">
            <li><a class="sidebar-nav-item" href="/MattBlog/tag/RailsRecord">Ruby on Rails Record build tag</a></li>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#BtnRoR").click(function (e) { 
                e.preventDefault();
                $("#DropdownRoR").slideToggle();
            });
        });
        /**
        document.getElementById("BtnRoR").onclick = function() {
            document.getElementById("DropdownRoR").classList.toggle("show")};**/
        /**
        function myFunction(){
            document.getElementById("DropdownRoR").classList.toggle("show");
        }**/

    </script>

    <a class="sidebar-nav-item" href="https://github.com/{{ site.github_username }}">GitHub</a> 
          </dt>
      </dl>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: datetime-local }}. All rights reserved.
    </p>
  </div>
</div>
