---
layout: default
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    <div class="tags">
        {% assign sortedTags = page.tags | sort %}
        <small>Tags: </small>
        {% for tag in sortedTags %}
            <span class="tags">
                <small> <a href="{{ site.baseurl }}/tag/{{ tag }}">&nbsp;#{{ tag }}</a></small>
            </span>&nbsp;
        {% endfor %}
        <br>
    </div>
    <small> Total : {{ page.content | number_of_words }} words </small> <br>
    <br>
    {{ content }}
</div>
{% include related-posts.html %}
<!--
<div class="related">
    <h5>Related Posts</h5>
    <ul class="related-posts">
        {% for post in stite.related_posts limit:3 %}
        <li>
            <h3>
                <a href="{{ site.baseurl }}{ post.url }}">
                    {{ post.title }}
                    <small> {{ post.date | date_to_string }}</small>
                </a>
            </h3>
        </li>
        {% endfor %}
    </ul>
</div>
-->
